.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.center {
  justify-content: center;
}

.form-group {
  margin-bottom: 1rem;
}

.col-form-label {
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
  padding-left: calc(1.125rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

