.due{
    margin:auto;
    width: 98%;
    height: 50px;
    background: cornsilk;
    margin-top:20px;
    font-size:30px;
    
}
.todo-item{
    background-color: honeydew;;
}
.title{
    margin:auto;
    width: 98%;
    height: 50px;
    background: cornsilk;
    margin-top:20px;
    font-size:30px;
    overflow: hidden;
}
.control    {
    margin:auto;
    width: 98%;
    height: 50px;
    background: cornsilk;
    margin-top:20px;
    font-size:30px;
    overflow: hidden;
    button{
        margin:auto;
        margin-left:100px;
    }
}
.createdata{
    margin:auto;
    width: 98%;
    height: 50px;
    background: cornsilk;
    overflow: hidden;
    margin-top:20px;
    font-size:30px;
}
.content{
    margin:auto;
    width: 98%;
    font-size:25px;
    margin-top:20px;
    background:aqua;
}
.edit{
    display: inline-block;
    word-break:break-all;
}