body {
  background-color: white-color;
  margin-top: 0px;  
}
.page{
  //margin-top:100px;
  padding-top:80px;
}
.heading
{
  font-size:25px;
  color : $heading-color;
  font-weight: bolder;
}
//this is default code from teacher so i didnt change it at all;