div{
    border:1px solid black;
}
.grid{
    display: grid;
    grid-auto-rows: minmax(100px,auto);
    grid-gap:5px;
    grid-template-columns: repeat(3,1fr);
    overflow: hidden;
    align-content: center;
    justify-content: center;
}
.cell-one{
    grid-column: 1/4;
    grid-row: 1;
    background-color: rgba(0,0,0,0.5)
}
.cell-two{
    grid-column: 2;
    grid-row: 2/4;
    background-color: rgba(0,0,0,0.5)
}
.cell-three{
    grid-column: 3;
    grid-row: 3;
    background-color: rgba(0,0,0,0.5)
}